
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
    <style>
        .btn a {
            color: white;
            text-decoration: none;
        }

        body {
            background-color: #F1F1F1;
        }
    </style>
</head>
<body>
    <div class="text-center">
        <h2> @ViewBag.Message, Friends</h2>
        <h4>You are invite to Birthday Party!!</h4>
        <p>(Please,Complete the form whether you come or not.)</p>
        <div class="btn btn-success">
        @Html.ActionLink("Form", "ResponseForm")
        </div>

    </div>
</body>
</html>
